{% extends 'base.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}

<div class="justify-content-center d-flex">
<div class="col-md-6 shadow-lg p-5 bg-light mt-5">
<h2 class="text-center">Bienvenue sur BananaPodcaster !</h2>
<form action="/login" method="post" enctype=multipart/form-data>
    <div class="mb-3 form-floating">
        <input type="text" class="form-control" name="username" placeholder="Identifiant">
        <label for="username">Identifiant</label>
    </div>
    <div class="mb-3 form-floating">
        <input type="password" class="form-control" name="password" placeholder="Mot de passe">
        <label for="password">Mot de passe</label>
    </div>
    <div class="d-grid gap-2 mb-3">
        <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
    </div>
</form>
</div>
</div>
<script type="text/javascript">
    var element = document.getElementById("nav-link-login");
    element.classList.add("active");
</script>
{% endblock %}