    {% extends 'base.html' %}

    {% block title %}Formulaire d'upload{% endblock %}
    {% block header %}<h2>Bienvenue sur le formulaire d'upload !</h2>{% endblock %}

    {% block content %}
<div class="container mt-3">
    <form action="/upload" method="post" enctype=multipart/form-data>
        <div class="mb-3">
            <label for="file" class="">Fichier audio de l'épisode</label><br>
            <input type=file class="form-control" name=file>
        </div>

        <div class="mb-3">
            <label for="ep_title">Titre de l'épisode</label>
            <input type="text" class="form-control" name="ep_title" placeholder="Titre de l'épisode">
        </div>

        <div class="mb-3">
            <label for="ep_description">Description de l'épisode</label>
            <textarea name="ep_description" class="form-control" placeholder="C'est l'histoire de toto qui faisait un podcast..."></textarea>
        </div>

        <div class="mb-3">
            <label for="ep_description">Mot clefs de l'épisode</label>
            <textarea name="ep_keywords" class="form-control" placeholder="toto, podcasts, histoire, frequence, banane, frequencebanane" aria-describedby="keywords_help"></textarea>
            <div class="form-text" id="keywords_help">Les mots clefs doivent être séparés par une virgule</div>
        </div>

        <div class="mb-3">
            <label for="ep_date">Date de création de l'épisode</label>
            <input type="date" class="form-control" name="ep_date">
        </div>

        <div class="mb-3 form-check">
            <input type="hidden" name="display_on_third_platforms" value="0"><input type="checkbox" class="form-check-input" onclick="this.previousSibling.value=1-this.previousSibling.value">
            <label for="display_on_third_platforms" class="form-check-label" > Je possède tous les droits de ce podcast et veux le rendre disponible sur les plateformes tierces (Spotify, Google Podcasts...)</label>
        </div>

        <div class="mb-3 form-check">
            <input type="hidden" name="display_on_website" value="0"><input type="checkbox" class="form-check-input" onclick="this.previousSibling.value=1-this.previousSibling.value">
            <label for="display_on_website" class="form-check-label" > Je souhaite afficher cet épisode sur le site</label>
        </div>


        <div class="mb-3 form-check">
            <input type="hidden" name="is_explicit" value="0"><input type="checkbox" class="form-check-input" onclick="this.previousSibling.value=1-this.previousSibling.value">
            <label for="is_explicit" class="form-check-label" >Ce podcast contient du contenu inadapté au jeune public</label>
        </div>

        <input type="hidden" name="show_id" value="{{ request.args.get('show_id', default='0') }}">

        <div class="mb-3">
            <label for="pin">Code d'accès du Podcast</label>
            <input type="" name="pin" inputmode="numeric" class="form-control" pattern="[0-9]{4}" maxlength="4" aria-describedby="pin_help">
            <div class="form-text" id="pin_help">La direction d'antenne / technique n'en n'ont pas besoin. Demandez leur en cas de soucis d'accès</div>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Envoyer le podcast</button>
        </div>
        
    </form>
</div>

<script type="text/javascript">
    var element = document.getElementById("nav-link-upload");
    element.classList.add("active");
</script>
    {% endblock %}